@model IEnumerable<CurdwithMVC.Models.User>

@{
    ViewBag.Title = "GetUsers";
}

<h2>GetUsers</h2>

<p>
    <a href="@Url.Action("NewUser")" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark bg-secondary">
        <tr class="p-4">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SelectedCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "User", new { id = item.Id })" class="btn btn-primary">Edit</a>

                    <a href="@Url.Action("Delete","User", new {id = item.Id })" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
